<h1>
    Comments
</h1>

<div class="search-container">
	<input type="text" class="search-input"	placeholder="Search comments..." (input)="onSearch($event)"/>

	<div class="search-results" *ngIf="searchResults.length > 0">
		<div class="search-item" *ngFor="let item of searchResults">
			<div class="search-user">
				{{ item.userName }}
			</div>

			<div class="search-text">
				{{ item.text }}
			</div>

			<div class="search-email">
				{{ item.email }}
			</div>
		</div>
	</div>
</div>

<button class="add-comment-button" (click)="openReply(null)">
    Add comment
</button>

<app-comment-form *ngIf="showForm" [parentId]="replyParentId" (created)="onCommentCreated($event)" (closed)="closeForm()" (fileSelecting)="onFileSelecting($event)">
</app-comment-form>

<div class="comments-container">

    <app-comment-item *ngFor="let comment of comments" [comment]="comment" (sort)="setSort($event)" (fileSelecting)="onFileSelecting($event)">
    </app-comment-item>

</div>

<div class="pagination">

    <button class="nav-button" [class.hidden]="page === 0" (click)="prevPage()">
        Prev
    </button>

    <span class="page-number">
        Page {{ page + 1 }}
    </span>

    <button class="nav-button" [class.hidden]="!hasNextPage" (click)="nextPage()">
        Next
    </button>

</div>